In [17]:
import pandas as pd
import numpy as np
import featuretools as ft

In [65]:
df = pd.read_csv("../data/new_bureau.csv").fillna(0.0)
df_prev = pd.read_csv("../data/new_prevs.csv").fillna(0.0)

In [54]:
#df["MEAN(instal.AMT_INSTALMENT"].unique().shape

In [28]:
df2 = df.select_dtypes(include=[np.object])

In [59]:
df.shape

(1716428, 22)

In [68]:
vars_bureau = dict()
df2 = df.select_dtypes(include=[np.object])
print( df2.shape )
for col in df2.columns:
    vars_bureau[col] = ft.variable_types.Categorical
df2 = df.select_dtypes(include=[np.number])
print(df2.shape)
for col in df2.columns:
    vars_bureau[col] = ft.variable_types.Numeric

(1716428, 4)
(1716428, 18)

In [69]:
vars_bureau["SK_ID_BUREAU"] = ft.variable_types.Index

In [66]:
vars_prev = dict()
df2 = df_prev.select_dtypes(include=[np.object])
print( df2.shape )
for col in df2.columns:
    vars_prev[col] = ft.variable_types.Categorical
df2 = df_prev.select_dtypes(include=[np.number])
print(df2.shape)
for col in df2.columns:
    vars_prev[col] = ft.variable_types.Numeric

(1670214, 18)
(1670214, 157)

In [71]:
vars_prev["SK_ID_PREV"] = ft.variable_types.Index 
df_prev.head()

,SK_ID_PREV,DAYS_TERMINATION,NAME_TYPE_SUITE,DAYS_FIRST_DRAWING,NAME_CLIENT_TYPE,NFLAG_LAST_APPL_IN_DAY,DAYS_FIRST_DUE,NAME_CONTRACT_TYPE,DAYS_LAST_DUE_1ST_VERSION,CHANNEL_TYPE,...,MAX(instal.NUM_INSTALMENT_NUMBER),STD(card.CNT_DRAWINGS_ATM_CURRENT),MEAN(card.AMT_DRAWINGS_OTHER_CURRENT),MAX(card.AMT_RECEIVABLE_PRINCIPAL),LAST(pos.SK_DPD_DEF),LAST(card.CNT_INSTALMENT_MATURE_CUM),MAX(card.AMT_PAYMENT_TOTAL_CURRENT),MAX(instal.SK_ID_CURR),STD(pos.MONTHS_BALANCE),MEAN(card.AMT_PAYMENT_TOTAL_CURRENT)
0,1000001,-233.0,0,365243.0,New,1,-268.0,Consumer loans,62.0,Stone,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,158271.0,0.816497,0.0
1,1000002,-1501.0,Unaccompanied,365243.0,Repeater,1,-1600.0,Consumer loans,-1450.0,Country-wide,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,101962.0,1.414214,0.0
2,1000003,365243.0,Unaccompanied,365243.0,Refreshed,1,-94.0,Consumer loans,236.0,Country-wide,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,252457.0,1.118034,0.0
3,1000004,-672.0,Unaccompanied,365243.0,Refreshed,1,-862.0,Consumer loans,-592.0,Country-wide,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,260094.0,2.291288,0.0
4,1000005,-1415.0,Family,365243.0,New,1,-1688.0,Consumer loans,-1418.0,Stone,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,176456.0,3.162278,0.0

In [15]:
df = pd.read_csv("../data/new_prevs.csv").fillna(0.0)

In [18]:
variable_types_train = {
    
    "NAME_CONTRACT_TYPE": ft.variable_types.Categorical , 
    "CODE_GENDER" : ft.variable_types.Categorical  , 
     "FLAG_OWN_CAR" : ft.variable_types.Categorical , 
    "FLAG_OWN_REALTY" : ft.variable_types.Categorical , 
     "FLAG_OWN_REALTY" : ft.variable_types.Categorical , 
    "CNT_CHILDREN" : ft.variable_types.Numeric , 
    "AMT_INCOME_TOTAL" : ft.variable_types.Numeric , 
     "AMT_INCOME_TOTAL" : ft.variable_types.Numeric , 
    "AMT_CREDIT" : ft.variable_types.Numeric , 
    "AMT_ANNUITY" : ft.variable_types.Numeric , 
    "AMT_GOODS_PRICE" : ft.variable_types.Numeric , 
    "NAME_TYPE_SUITE" : ft.variable_types.Categorical , 
    "NAME_INCOME_TYPE" : ft.variable_types.Categorical , 
    "NAME_EDUCATION_TYPE" : ft.variable_types.Categorical , 
    "NAME_FAMILY_STATUS": ft.variable_types.Categorical  , 
    "NAME_HOUSING_TYPE": ft.variable_types.Categorical , 
    "REGION_POPULATION_RELATIVE" : ft.variable_types.Numeric , 
    "DAYS_BIRTH" : ft.variable_types.Numeric , 
    "DAYS_EMPLOYED" : ft.variable_types.Numeric ,
    "DAYS_REGISTRATION" : ft.variable_types.Numeric ,
    "DAYS_ID_PUBLISH" : ft.variable_types.Numeric , 
    "OWN_CAR_AGE" : ft.variable_types.Numeric , 
    "FLAG_MOBIL" : ft.variable_types.Categorical , 
    "FLAG_EMP_PHONE" :ft.variable_types.Categorical , 
    "FLAG_WORK_PHONE": ft.variable_types.Categorical ,
    "FLAG_CONT_MOBILE" : ft.variable_types.Categorical , 
    "FLAG_PHONE" :  ft.variable_types.Categorical , 
    "FLAG_EMAIL" : ft.variable_types.Categorical , 
    "OCCUPATION_TYPE" : ft.variable_types.Categorical , 
    "CNT_FAM_MEMBERS" : ft.variable_types.Numeric , 
    "REGION_RATING_CLIENT" : ft.variable_types.Ordinal , 
    "REGION_RATING_CLIENT_W_CITY" : ft.variable_types.Ordinal , 
    "WEEKDAY_APPR_PROCESS_START": ft.variable_types.Categorical , 
    "HOUR_APPR_PROCESS_START" : ft.variable_types.Categorical , 
    "REG_REGION_NOT_LIVE_REGION" : ft.variable_types.Categorical , 
    "REG_REGION_NOT_WORK_REGION" : ft.variable_types.Categorical , 
    "LIVE_REGION_NOT_WORK_REGION" : ft.variable_types.Categorical , 
    "REG_CITY_NOT_LIVE_CITY" : ft.variable_types.Categorical , 
    "REG_CITY_NOT_WORK_CITY" : ft.variable_types.Categorical , 
    "LIVE_CITY_NOT_WORK_CITY" : ft.variable_types.Categorical , 
    "ORGANIZATION_TYPE" : ft.variable_types.Categorical , 
    "EXT_SOURCE_1" : ft.variable_types.Numeric , 
    "EXT_SOURCE_2" : ft.variable_types.Numeric , 
    "EXT_SOURCE_3" : ft.variable_types.Numeric , 
    "APARTMENTS_AVG" : ft.variable_types.Numeric , 
    "BASEMENTAREA_AVG" : ft.variable_types.Numeric ,  
    "YEARS_BEGINEXPLUATATION_AVG" : ft.variable_types.Numeric ,  
    "YEARS_BUILD_AVG" : ft.variable_types.Numeric ,  
    "COMMONAREA_AVG" : ft.variable_types.Numeric ,  
    "ELEVATORS_AVG" : ft.variable_types.Numeric ,  
    "ENTRANCES_AVG" : ft.variable_types.Numeric ,  
    "FLOORSMAX_AVG" : ft.variable_types.Numeric ,  
    "FLOORSMIN_AVG" : ft.variable_types.Numeric ,  
    "LANDAREA_AVG" : ft.variable_types.Numeric ,  
    "LIVINGAPARTMENTS_AVG" : ft.variable_types.Numeric ,  
    "LIVINGAREA_AVG" : ft.variable_types.Numeric ,  
    "NONLIVINGAPARTMENTS_AVG" : ft.variable_types.Numeric ,  
    "NONLIVINGAREA_AVG" : ft.variable_types.Numeric ,  
    "APARTMENTS_MODE" : ft.variable_types.Numeric ,  
    "BASEMENTAREA_MODE" : ft.variable_types.Numeric ,  
    "YEARS_BEGINEXPLUATATION_MODE" : ft.variable_types.Numeric ,  
    "YEARS_BUILD_MODE" : ft.variable_types.Numeric ,  
    "COMMONAREA_MODE" : ft.variable_types.Numeric ,  
    "ELEVATORS_MODE" : ft.variable_types.Numeric ,  
    "ENTRANCES_MODE" : ft.variable_types.Numeric ,  
    "FLOORSMAX_MODE" : ft.variable_types.Numeric ,  
    "FLOORSMIN_MODE" : ft.variable_types.Numeric ,  
    "LANDAREA_MODE" : ft.variable_types.Numeric ,  
    "LIVINGAPARTMENTS_MODE" : ft.variable_types.Numeric ,  
    "LIVINGAREA_MODE" : ft.variable_types.Numeric ,
    "NONLIVINGAPARTMENTS_MODE" : ft.variable_types.Numeric ,  
    "NONLIVINGAREA_MODE" : ft.variable_types.Numeric ,  
    "APARTMENTS_MEDI" : ft.variable_types.Numeric ,  
    "BASEMENTAREA_MEDI" : ft.variable_types.Numeric ,
    "YEARS_BEGINEXPLUATATION_MEDI" : ft.variable_types.Numeric ,  
    "YEARS_BUILD_MEDI" : ft.variable_types.Numeric ,  
    "COMMONAREA_MEDI" : ft.variable_types.Numeric ,  
    "ELEVATORS_MEDI" : ft.variable_types.Numeric ,
    "ENTRANCES_MEDI" : ft.variable_types.Numeric ,  
    "FLOORSMAX_MEDI" : ft.variable_types.Numeric ,
    "FLOORSMIN_MEDI" : ft.variable_types.Numeric ,  
    "LANDAREA_MEDI" : ft.variable_types.Numeric ,
    "LIVINGAPARTMENTS_MEDI" : ft.variable_types.Numeric ,  
    "LIVINGAREA_MEDI" : ft.variable_types.Numeric ,
    "NONLIVINGAPARTMENTS_MEDI" : ft.variable_types.Numeric ,
    "NONLIVINGAREA_MEDI" : ft.variable_types.Numeric ,  
    "FONDKAPREMONT_MODE" : ft.variable_types.Categorical ,
    "HOUSETYPE_MODE" : ft.variable_types.Categorical ,  
    "TOTALAREA_MODE" : ft.variable_types.Numeric ,
    "WALLSMATERIAL_MODE" : ft.variable_types.Categorical ,
    "EMERGENCYSTATE_MODE" : ft.variable_types.Categorical ,  
    "OBS_30_CNT_SOCIAL_CIRCLE" : ft.variable_types.Numeric ,
    "DEF_30_CNT_SOCIAL_CIRCLE" : ft.variable_types.Numeric ,
    "OBS_60_CNT_SOCIAL_CIRCLE" : ft.variable_types.Numeric ,  
    "DEF_60_CNT_SOCIAL_CIRCLE" : ft.variable_types.Numeric ,
    "DAYS_LAST_PHONE_CHANGE" : ft.variable_types.Numeric ,
    "FLAG_DOCUMENT_2" : ft.variable_types.Categorical ,  
    "FLAG_DOCUMENT_3" : ft.variable_types.Categorical ,  
    "FLAG_DOCUMENT_4" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_5" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_6" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_7" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_8" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_9" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_10" : ft.variable_types.Categorical ,
    "FLAG_DOCUMENT_11" : ft.variable_types.Categorical ,  
    "FLAG_DOCUMENT_12" : ft.variable_types.Categorical ,  
    "FLAG_DOCUMENT_13" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_14" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_15" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_16" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_17" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_18" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_19" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_20" : ft.variable_types.Categorical , 
    "FLAG_DOCUMENT_21" : ft.variable_types.Categorical , 
    "AMT_REQ_CREDIT_BUREAU_HOUR" : ft.variable_types.Numeric , 
    
    "AMT_REQ_CREDIT_BUREAU_DAY" : ft.variable_types.Numeric , 
    "AMT_REQ_CREDIT_BUREAU_WEEK" : ft.variable_types.Numeric , 
    "AMT_REQ_CREDIT_BUREAU_MON" : ft.variable_types.Numeric , 
    "AMT_REQ_CREDIT_BUREAU_QRT" : ft.variable_types.Numeric , 
    "AMT_REQ_CREDIT_BUREAU_YEAR" : ft.variable_types.Numeric , 
}

In [73]:
df_train = pd.read_csv("../data/test/application_test.csv")

df_prev = pd.read_csv( "../data/new_prevs.csv" ).fillna( 0.0)
df_bureau = pd.read_csv("../data/new_bureau.csv" ).fillna(0.0)

entity_train = ft.EntitySet( id = "train" )
entity_train = entity_train.entity_from_dataframe(
entity_id = "train" , dataframe = df_train  , index ="SK_ID_CURR" , variable_types = variable_types_train
)


entity_train = entity_train.entity_from_dataframe(
entity_id = "bureau" , dataframe = df_bureau   ,  index = "SK_ID_BUREAU", variable_types = vars_bureau  )

entity_train = entity_train.entity_from_dataframe(
entity_id = "prev" , dataframe = df_prev  ,   index = "SK_ID_PREV" , variable_types = vars_prev )

print("Adding relationships")
r_1 = ft.Relationship( entity_train["train"]["SK_ID_CURR"] , entity_train["bureau"]["SK_ID_CURR"] )
r_2 = ft.Relationship( entity_train["train"]["SK_ID_CURR"] , entity_train["prev"]["SK_ID_CURR"] )

entity_train = entity_train.add_relationship(  r_1 ) 
entity_train = entity_train.add_relationship(  r_2 ) 

features, feature_names = ft.dfs(entityset = entity_train, target_entity = 'train', 
                                 agg_primitives = ['mean', 'max', 'last' , 'std' ], max_depth = 3 )

print( features.head() )
print( features.shape )
features.to_csv("../data/new_train_full.csv" )

TypeError: invalid string coercion to datetime