In [1]:
import pandas as pd 
import numpy as np

In [3]:
df_train = pd.read_csv("../data/features_test.csv")

In [4]:
df_train.head()

,SK_ID_CURR,LIVINGAPARTMENTS_MODE,REGION_RATING_CLIENT,EXT_SOURCE_1,APARTMENTS_MODE,NAME_INCOME_TYPE,REG_CITY_NOT_LIVE_CITY,FLAG_DOCUMENT_7,FLAG_DOCUMENT_11,LIVE_CITY_NOT_WORK_CITY,...,LAST(pos.SK_ID_PREV),MAX(card.AMT_RECIVABLE),LAST(prev.AMT_CREDIT),LAST(card.AMT_PAYMENT_CURRENT),MEAN(prev.DAYS_LAST_DUE_1ST_VERSION),MAX(card.CNT_DRAWINGS_OTHER_CURRENT),MEAN(bureau.AMT_CREDIT_SUM_DEBT),LAST(card.AMT_PAYMENT_TOTAL_CURRENT),LAST(prev.NAME_CONTRACT_TYPE),MAX(prev.RATE_INTEREST_PRIVILEGED)
0,100001,0.0000,2,0.752614,0.0672,Working,0,0,0,0,...,1369693.0,0.000,23787.0,0.00,-1499.000000,0.0,85240.928571,0.0,Consumer loans,0.0
1,100005,0.0000,2,0.564990,0.0000,Working,0,0,0,0,...,2495675.0,0.000,40153.5,0.00,-376.000000,0.0,189469.500000,0.0,Consumer loans,0.0
2,100013,0.0000,2,0.000000,0.0000,Working,0,0,0,0,...,1865796.0,161420.220,47934.0,274.32,-515.666667,0.0,0.000000,0.0,Consumer loans,0.0
3,100028,0.2626,2,0.525734,0.3109,Working,0,0,0,0,...,2829726.0,36980.415,130765.5,13275.00,121221.333333,0.0,18630.450000,13275.0,Consumer loans,0.0
4,100038,0.0000,2,0.202145,0.0000,Working,0,0,0,1,...,2327930.0,0.000,92605.5,0.00,-457.000000,0.0,0.000000,0.0,Consumer loans,0.0